@import '_variables.less';

/******************************************/
/**           SECTION SPECIALS           **/
/******************************************/
.bg-full-specials {
    @media (max-width: 2560px) and (min-width: 2160px) {
        width: 100vw;
        height: 400px;
        background-color: #fff;
        margin: 0 auto !important;
        position: absolute;
        margin-left: ~"calc(100vw - 122%)" !important;
    }
    @media (max-width: 1980px) and (min-width: 1600px) {
        width: 100vw;
        height: 400px;
        background-color: #fff;
        margin: 0 auto !important;
        position: absolute;
        margin-left: ~"calc(100vw - 113.5%)" !important;
    }
}

div#category-images-slider-widget {
    background: @colorwhite !important;

    @media (max-width: 767px) {
        padding: 5px 4% !important;
    }
    @media (max-width: 544px) {
        padding: 30px 4% !important;
    }

    .row {
        margin-right: 0;
        margin-left: 0;

        .porto-sicon-wrapper.style_1 {
            a {
                img {
                    width: 100%;
                }
            }
        }
    }
}

div.home-subcats {
    padding-top: 30px !important;
}

div.description-banner-tr {
    [data-enable-parallax="0"] {
        background: @colorwhite;
    }
}

[data-enable-parallax="0"] {
    background: @colorbackground;
    padding: 0 0 !important;
}

[data-content-type="row"] {
    background: @colorbackground;
}

.titles-sections {
    color: @colorblack;
    font-weight: 500;
    font-size: 25px;
}

.content-specials {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 35px;
    background: @colorbackground !important;

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .text-specials {
        position: absolute;
        padding: 15px 25px;
        z-index: 1;
        color: #1a1a1a;
        font-size: 15px;
        opacity: 1;
        right: 0;
        bottom: 0;
        background: @colorwhite;
        margin: 25px 25px 10px 0;
        @media (max-width: 768px) {
            padding: 8px 18px;
            margin: 25px 15px 10px 0;
        }

        p {
            font-family: @IconsolataBold;
            font-size: 30px;
            margin-bottom: 0 !important;
        }
    }
}

/******************************************/
/**        END SECTION SPECIALS          **/
/******************************************/
