@import '_variables.less';

/***********************************/
/***    SECTION CATEGORY STORY   ***/
/***********************************/
div#category-stories-images-slider-widget {
    @media (max-width: 544px) {
        padding-right: 0;
        padding-left: 0;
    }
}

#category-slider-circles {
    border: none !important;
    background-color: transparent !important;
    padding-top: 0 !important;
    @media (max-width: 544px) {
        width: 100% !important;
        max-width: 100% !important;
        padding: 10px 0 !important;
    }

    .porto-sicon-wrapper.style_1 {
        @media (max-width: 544px) {
            padding: 0 5px !important;
        }
    }

    .porto-sicon-box.left-icon {
        border: none !important;
    }
}

.img-text-story {
    @media (max-width: 544px) {
        padding: 10px 0 0 0 !important;
    }
}

.porto-sicon-box.left-icon.cont-categories {
    @media (max-width: 768px) {
        display: block !important;
    }

    .image-categorie {
        @media (max-width: 768px) {
            margin-right: 0 !important;
        }

        img {
            @media (max-width: 768px) {
                margin: 0 auto;
            }
        }
    }

    .text-categorie {
        max-width: 60%;
        width: 100%;
        @media (max-width: 1024px) and (min-width: 990px) {
            max-width: 59%;
        }

        .porto-sicon-header {
            p {
                font-family: @AcuminProLight;
                font-size: 13px;
            }
        }

        @media (max-width: 768px) {
            flex: 1 !important;
            margin: 5px 0;
            max-width: 100%;
            text-align: center;
        }
    }
}

/***********************************/
/***  END SECTION CATEGORY STORY ***/
/***********************************/
