<?php

use \Troquer\Ajaxcart\Block\Product\Renderer\Configurable;

?>
<?php /** @var $block Configurable */ ?>
<link rel="stylesheet" type="text/css" href="<?php /* @escapeNotVerified */
echo $block->getViewFileUrl('Magento_Swatches::css/swatches.css') ?>"/>

<div class="swatch-opt" data-role="swatch-options"></div>

<script type="text/javascript">
    require([
        'jquery',
        'mage/mage',
        'troquer/swatchRenderer'
    ], function ($) {
        $('[data-role=swatch-options]').SwatchRenderer({
            "jsonConfig": <?php /* @escapeNotVerified */
            echo $swatchOptions = $block->getJsonConfig(); ?>,
            "jsonSwatchConfig": <?php /* @escapeNotVerified */
            echo $swatchOptions = $block->getJsonSwatchConfig(); ?>,
            "selectorProduct": '#mb-ajaxcart-wrapper',
            "mediaCallback": "<?php /* @escapeNotVerified */
                echo $block->getMediaCallback() ?>",
            "onlyMainImg": <?php /* @escapeNotVerified */
            echo $block->getVar('change_only_base_image',
                'Magento_Swatches') ?: 'false'; ?>
        });
    });

</script>
