<?php
$_product = $block->getProduct();
$buttonTitle = __('Add to Wishlist');
?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <div class="actions">
                <button type="button" title="Cancel" class="action primary mb-ajaxsuite-close"
                        id="ajaxwishlist_btn_cancel">
                    <span><?php echo __('Cancel') ?></span>
                </button>
                <button type="submit"
                        title="<?php /* @escapeNotVerified */
                        echo $buttonTitle ?>"
                        class="action ajax-popup-to-cart primary"
                        id="product-addtogroup-button">
                    <span><?php /* @escapeNotVerified */
                        echo $buttonTitle ?></span>
                </button>
            </div>
        </div>
    </div>
<?php endif; ?>
