<?php

/**
 * Category image description widget
 *
 * @var $block CategoryImages
 */

use \Magento\Framework\Exception\LocalizedException;
use \Troquer\CatalogWidget\Block\Widget\CategoryImages;

?>
<div id="closets-images-slider-widget" class="home-subcats content-specials container-fluid">
    <div class="row  d-flex  justify-content-center">
        <div class="tittles-blocks col-md-11 col-lg-11 col-sm-12">
            <h1 class="titles-sections"><?= $block->getTitle(); ?></h1>

        </div>
    </div>

    <div class="cards-closets">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-10">
                <div class="info-owl-carousel owl-carousel">
                    <?php
                    try {
                        $collection = $block->getCategoryCollection();
                    } catch (LocalizedException $e) {}
                    foreach ($collection as $category) :
                        if (!$category->getIsActive()) {
                            continue;
                        }
                        ?>
                        <a class="" href="<?php echo $category->getUrl($category) ?>">
                            <div class="item item-info-closets">
                                <div class="porto-sicon-wrapper style_1 info-closets">
                                    <div class="img-closets">
                                        <img src="<?php echo $category->getImageUrl(); ?>" alt=""/>
                                        <div class="text-closets">
                                            <h3><?= $category->getName(); ?></h3>
                                            <p><?= $category->getMetaDescription(); ?></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <?php
                    endforeach;
                    ?>
                </div>
                <script type="text/javascript">
                    require([
                        'jquery',
                        'owl.carousel/owl.carousel.min'
                    ], function ($) {
                        $("#closets-images-slider-widget .owl-carousel").owlCarousel({
                            autoplay: true,
                            autoplayTimeout: 5000,
                            autoplayHoverPause: true,
                            margin: 15,
                            nav: false,
                            navText: ["<em class='porto-icon-left-open-big'></em>", "<em class='porto-icon-right-open-big'></em>"],
                            dots: false,
                            loop: true,
                            responsive: {
                                0: {
                                    items: 1
                                },
                                575: {
                                    items: 2
                                },
                                768: {
                                    items: 3
                                },
                                992: {
                                    items: 4
                                },
                                1280: {
                                    items: 4
                                }
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
