<?php

/**
 * Category story widget
 *
 * @var $block CategoryImages
 */

use \Magento\Framework\Exception\LocalizedException;
use \Troquer\CatalogWidget\Block\Widget\CategoryImages;

?>
<div id="category-stories-images-slider-widget" class=" container-fluid">
    <div id="category-slider-circles" class="home-subcats container">
        <div class="row  d-flex  justify-content-center">
            <div class="col-md-10 col-sm-12 col-lg-8">
                <div class="owl-carousel">
                    <?php
                    try {
                        $collection = $block->getCategoryCollection();
                    } catch (LocalizedException $e) {}
                    foreach ($collection as $category) :
                        if (!$category->getIsActive()) {
                            continue;
                        }
                        ?>
                        <div class="item">
                            <div class="porto-sicon-wrapper style_1">
                                <div class="img-text-story porto-sicon-box left-icon cont-categories">
                                    <div class="porto-sicon-left image-categorie">
                                        <a class="img" href="<?php echo $category->getUrl($category) ?>">
                                            <img src="<?php echo $category->getImageUrl(); ?>" alt=""/>
                                        </a>
                                    </div>
                                    <div class="porto-sicon-body text-categorie">
                                        <div class="porto-sicon-header">
                                            <p><?= $category->getName(); ?></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php
                    endforeach;
                    ?>
                </div>
            </div>
        </div>
    </div>
    <script>
        require([
            'jquery',
            'owl.carousel/owl.carousel.min'
        ], function ($) {
            $("#category-stories-images-slider-widget .owl-carousel").owlCarousel({
                autoplay: false,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                margin: 0,
                nav: false,
                navText: ["<em class='porto-icon-left-open-big'></em>", "<em class='porto-icon-right-open-big'></em>"],
                dots: false,
                loop: false,
                responsive: {
                    0: {
                        items: 4
                    },
                    575: {
                        items: 4
                    },
                    768: {
                        items: 4
                    },
                    992: {
                        items: 4
                    },
                    1280: {
                        items: 4
                    }
                }
            });
        });
    </script>
</div>
