<?php

/**
 * Category image widget
 *
 * @var $block CategoryImages
 */

use \Magento\Framework\Exception\LocalizedException;
use \Troquer\CatalogWidget\Block\Widget\CategoryImages;

?>
<div class="bg-full-specials"></div>
<div id="category-images-slider-widget" class="home-subcats content-specials container-fluid">
    <div class="row  d-flex  justify-content-center">
        <div class="tittles-blocks col-md-11 col-lg-11 col-sm-12">
            <h1 class="titles-sections"><?= $block->getTitle(); ?></h1>
        </div>
    </div>
    <div class="row">
        <div class="owl-carousel">
            <?php
            try {
                $collection = $block->getCategoryCollection();
            } catch (LocalizedException $e) {}
            foreach ($collection as $category) :
                if (!$category->getIsActive()) {
                    continue;
                }
                ?>
                <div class="item">
                    <div class="porto-sicon-wrapper style_1">
                        <a class="img" href="<?php echo $category->getUrl($category) ?>">
                            <img src="<?php echo $category->getImageUrl(); ?>" alt=""/>
                        </a>
                        <div class="text-specials">
                            <p><?= $category->getName(); ?></p>
                        </div>
                    </div>
                </div>
            <?php
            endforeach;
            ?>
        </div>
    </div>
    <script type="text/javascript">
        require([
            'jquery',
            'owl.carousel/owl.carousel.min'
        ], function ($) {
            $("#category-images-slider-widget .owl-carousel").owlCarousel({
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                margin: 0,
                nav: false,
                navText: ["<em class='porto-icon-left-open-big'></em>", "<em class='porto-icon-right-open-big'></em>"],
                dots: false,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    575: {
                        items: 2
                    },
                    768: {
                        items: 3
                    },
                    992: {
                        items: 4
                    },
                    1280: {
                        items: 4
                    }
                }
            });
        });
    </script>
</div>
