<?php

/**
 * Category banner description widget
 *
 * @var $block CategoryImages
 */

use \Magento\Framework\Exception\LocalizedException;
use \Troquer\CatalogWidget\Block\Widget\CategoryImages;

?>
<div id="category-banner-description" class=" container-fluid">
    <div class="cards-closets">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <?php
                try {
                    $collection = $block->getCategoryCollection();
                } catch (LocalizedException $e) {}
                foreach ($collection as $category) :
                    if ($category->getMetaDescription() == '') :
                        ?>
                        <div class="row">
                            <div class="img-banner-category col-lg-12">
                                <img src="<?php echo $category->getImageUrl(); ?>" alt=""/>
                                <div class="text-banner">
                                    <p><?= $category->getName(); ?></p>
                                </div>
                            </div>
                        </div>
                    <?php else : ?>
                        <div class="row">
                            <div class="col-lg-7">
                                <img src="<?php echo $category->getImageUrl(); ?>" alt=""/>
                                <div class="text-banner">
                                    <p><?= $category->getName(); ?></p>
                                </div>
                            </div>
                            <div class="description-banner-tr col-lg-5 col-md-5 col-sm-5">
                                <div class="text-left-sust">
                                    <span class="line"></span>
                                    <p><?= $category->getMetaDescription(); ?></p>
                                    <span class="leermas">Leer Más</span>
                                    <span class="leermenos hide-readmore">Leer Menos</span>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php
                endforeach;
                ?>
            </div>
        </div>
    </div>
</div>

<script>
    require([
        'jquery'
    ], function ($) {
        $(".leermas").on('click', function () {
            $(".leermenos").removeClass("hide-readmore");
            $(".text-left-sust > p").addClass("hide-whitespace");
            $(this).addClass("hide-readmore");
        }, null);
        $(".leermenos").on('click', function () {
            $(".text-left-sust > p").removeClass("hide-whitespace");
            $('.leermas').removeClass("hide-readmore");
            $(this).addClass("hide-readmore");
        }, null);
    });
</script>
