<?php
/**
 * @var $block Forgotpassword
 */

use \Magento\Customer\Block\Account\Forgotpassword;
use \Magento\Framework\App\ObjectManager;

$objectManager = ObjectManager::getInstance();

$customer_session = $objectManager->create('Magento\Customer\Model\Session')
?>
<div class="mb-forgetpassword-popup" style="display:none;">
    <div class="mb-ajaxsuite-popup-border mb-ajaxlogin-popup mb-ajaxlogin-forgotpassword">
        <div class="block-title">
            <strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Forgot Your Password')) ?></strong>
        </div>
        <form class="form ajax-forgetpassword-form"
              method="post"
              enctype="multipart/form-data" autocomplete="off">
            <fieldset class="fieldset" data-hasrequired="<?php echo __('* Required Fields') ?>">
                <div
                        class="field note"><?php echo __('To have your password reset, enter your email address below. We will then send an email containing a link to reset your password.'); ?></div>
                <div class="field email required">
                    <div class="control">
                        <input type="email" title="email" name="email" alt="email" class="input-text email_address"
                               value="<?php echo $block->escapeHtml($block->getEmailValue()) ?>"
                               data-validate="{required:true, 'validate-email':true}" placeholder="<?php echo __('Email') ?>">
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
            </fieldset>
            <div class="actions">
                <div class="">
                    <button type="submit" class="action submit primary"><span><?php echo __('Reset Password') ?></span>
                    </button>
                </div>
            </div>
            <?php if (!$customer_session->isLoggedIn()): ?>
            <div class="actions">
                <div class="secondary">
                    <a class="action back" href="<?php echo $block->getLoginUrl() ?>">
                        <span class="mb-back-link"><?php echo __('Login') ?></span>
                    </a>
                </div>
                <span> | </span>
                <div class="secondary">
                    <a class="action mb-create-account" href="<?php echo $block->getUrl('customer/account/create'); ?>">
                        <span><?php echo __('Create an Account') ?></span>
                    </a>
                </div>
            </div>
            <?php endif; ?>
        </form>
    </div>
</div>
