<?php
/**
 * @var $block Login
 */

use \Troquer\Ajaxlogin\Block\Form\Login;

?>
<div class="mb-login-popup-header"></div>
<div class="mb-login-popup" style="display:none;">
    <div class="mb-ajaxsuite-popup-border mb-ajaxlogin-popup mb-ajaxlogin-login">
        <div class="block block-customer-login">
            <div class="block-title">
                <strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Account Login')) ?></strong>
            </div>
            <form class="form form-login"
                  method="post"
                  id="ajax-login-form"
                  enctype="multipart/form-data" autocomplete="off">
              <?php echo $block->getBlockHtml('formkey'); ?>
                <fieldset class="fieldset login" data-hasrequired="<?php echo __('* Required Fields') ?>">
                    <div class="field email required">
                        <div class="control">
                            <input name="login[username]"
                                   value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off"<?php endif; ?>
                                   id="ajaxlogin-email" type="email" class="input-text" title="<?php echo __('Email') ?>"
                                   data-validate="{required:true, 'validate-email':true}" placeholder="<?php echo __('Email') ?>">
                        </div>
                    </div>
                    <div class="field password required">
                        <div class="control">
                            <input name="login[password]"
                                   type="password" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off"<?php endif; ?>
                                   class="input-text" id="ajaxlogin-pass" title="<?php echo __('Password') ?>"
                                   data-validate="{required:true, 'validate-password':true}" placeholder="<?php echo __('Password') ?>">
                        </div>
                    </div>
                </fieldset>
                <div class="actions">
                    <div class="primary">
                        <button type="submit" class="action submit primary" name="login" id="login">
                            <span><?php echo __('Login') ?></span>
                        </button>
                    </div>
                </div>
              <?php if ($block->isEnableSocialLogin() && !$block->isLoggedIn()): ?>
                  <div id="social-login">
                      <div class="primary">
                        <?php if ($this->helper('Troquer\Ajaxlogin\Helper\Data')->getScopeConfig('ajaxlogin/social_login/facebook_appid')) { ?>
                            <button id="facebook-login-btn" type="button" class="action social-login-btn primary">
                                <span><?php echo __('Facebook Login') ?></span>
                            </button>
                        <?php } ?>
                        <?php if ($this->helper('Troquer\Ajaxlogin\Helper\Data')->getScopeConfig('ajaxlogin/social_login/googleplus_clientid')) { ?>
                            <button id="ggplus-login-btn" type="button" class="action social-login-btn primary">
                                <span><?php echo __('Google+ Login') ?></span>
                            </button>
                        <?php } ?>
                        <?php if ($this->helper('Troquer\Ajaxlogin\Helper\Data')->getScopeConfig('ajaxlogin/social_login/twitter_consumer_key')
                          && $this->helper('Troquer\Ajaxlogin\Helper\Data')->getScopeConfig('ajaxlogin/social_login/twitter_consumer_secret')
                        ) {
                          ?>
                            <button id="twitter-login-btn" type="button" class="action social-login-btn primary">
                                <span><?php echo __('Twitter Login') ?></span>
                            </button>
                        <?php } ?>
                      </div>
                  </div>
              <?php endif; ?>
                <div class="actions">
                    <div class="secondary">
                        <a class="action forgot" href="<?php echo $block->getForgotPasswordUrl() ?>">
                            <span><?php echo __('Forgot Your Password?') ?></span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="block block-new-customer">
            <div class="block-title">
                <strong><?= $block->escapeHtml(__('Register Now')) ?></strong>
            </div>
            <div class="block-content" aria-labelledby="block-new-customer-heading">
                <p><?= $block->escapeHtml(__('Creating an account has many benefits: check out faster, keep more than one address, track orders and more.')) ?></p>
                <div class="actions-toolbar">
                    <div class="primary">
                        <a href="<?php echo $block->getUrl('customer/account/create'); ?>"
                           class="action create primary"><span><?= $block->escapeHtml(__('Create an Account')) ?></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
