<div class="mb-ajaxsuite-popup-wrapper" id="mb-ajaxsuite-popup-wrapper">
    <div class="close-modal-troquer"><a id="mb-ajaxsuite-close" class="mb-ajaxsuite-close"></a></div>
    <?php echo $block->getChildHtml('ajaxsuite.popup.popup'); ?>
</div>
<div class="mb-ajaxsuite-blank" id="mb-ajaxsuite-blank"></div>
