& when (@media-common = true) {
  #mb-ajaxwishlist-wrapper {
    .mb-ajaxsuite-popup-border {
      text-align: center;
    }
    img.image {
      width: 100%;
      margin-bottom: 10px
    }
    .product-add-form {
      width: 100%;
      display: block;
      .field.qty {
        margin-right: @indent__base;
      }
      .actions {
        border-top: 1px solid @color-gray80;
        padding-top: @indent__s;
        button.primary {
          margin: 0 @indent__s 0 0;
        }
      }
    }
    .product-name {
      font-weight: bold;
      margin-top: @indent__s;
    }
    .price-box {
      margin: 7px 0;
    }
    .product-options-wrapper {
      .fieldset {
        .field {
          margin-bottom: @indent__s;
        }
      }
    }
    .ajaxwishlist-success-box {
      text-align: center;
      margin-bottom: @indent__base;
      img.image {
        float: none;
        margin-bottom: 10px;
      }
      .message-error{
        color: @color-red10;
        font-weight: bold;
      }
      .message-success{
        color: @color-dark-green1;
        font-weight: bold;
      }
      .ajaxwishlist-buttons {
        float: left;
        width: 100%;
        margin: 5px 0 0;
        padding-bottom: 10px;
        button#ajaxwishlist_checkout {
          margin: 0;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  #mb-ajaxwishlist-wrapper {
    min-width: 500px;
    img.image {
      float: left;
      width: 30%;
    }
    .product-add-form {
      float: right;
      width: 60%;
      margin-bottom: 10px;
    }
  }
}
