@AcuminProBold: "Acumin Pro Bold";
@AcuminProBook: "Acumin Pro Book";
@AcuminProLight: "Acumin Pro Light";
@IconsolataBold: "Iconsolata Bold";
@PermanentMarkerRegular: "Permanent Marker Regular";

@colorcoral: #bf9880;
@colorazul: #002f3a;
@colorarena: #e0d9d9;
@colorblack: #000000;
@colorladrillo: #b24f38;
@coloraceituna: #869178;
@colorparrafo: rgba(0, 0, 0, .6);
@colorwhite: #FFFFFF;
@colorgray: #777777;
@colorbackground: #fafafa;
@colorazulosc: #222529;
@colorccc: #CCCCCC;
@colorgraytext: #505050;
@colorrgbablack: rgba(0, 0, 0, .7);
@colorrgbawhite: rgba(51, 51, 51, .55);
@spriticons: url(/media/troquer/sprite-troquer.png) !important;
@iconclosemodal: url(/media/troquer/close-modal-black.png);
