/***************************************/
/***      SECTION PLUGIN TROQUER      ***/
/***************************************/

.close-modal-troquer {
    background: @colorcoral !important;
    display: block !important;
    height: 42px;

    a.mb-ajaxsuite-close {
        width: 26px;
        height: 26px;
        background: transparent @iconclosemodal top left no-repeat;
        position: absolute;
        top: 10px;
        right: 16px;
        opacity: 1;
        cursor: pointer;
        z-index: 1000;
        background-size: 25px 25px;
    }
}

.close-modal-troquer a.mb-ajaxsuite-close {
    &:hover {
        &:before {
            color: @colorblack;
        }
    }
}

#mb-ajaxsuite-blank {
    background-color: @colorrgbawhite;
}

#mb-ajaxcart-wrapper .ajaxcart-success-box .ajaxcart-buttons {
    background: @colorwhite !important;
    padding-bottom: 15px;
}

button#product-addtogroup-button {
    background: @colorblack !important;
    color: @colorwhite !important;
    border: 1px solid @colorblack !important;
}

div#mb-ajaxsuite-popup-wrapper {
    background-color: @colorwhite !important;
    font-family: @AcuminProBook;
    max-height: 100vh !important;
    border-radius: 10px;

    #mb-ajaxsuite-popup {
        #mb-ajaxlogin-wrapper {
            .mb-login-popup {
                .block.block-customer-login {
                    .block-title {
                        strong#block-customer-login-heading {
                            font-size: 20px;
                            font-family: @AcuminProBold;
                        }
                    }

                    form.form.form-login {
                        fieldset.fieldset.login {
                            margin: 0 0 30px;
                        }
                    }
                }

                .block.block-new-customer {
                    .block-title {
                        strong {
                            font-size: 20px;
                            font-family: @AcuminProBold;
                        }
                    }

                    .block-content {
                        p {
                            font-size: 16px;
                            font-family: @AcuminProBook;
                            @media (max-width: 576px) {
                                font-size: 14px;
                            }
                            @media (max-width: 320px) {
                                font-size: 13px;
                            }
                        }

                        .actions-toolbar {
                            margin-top: 20px;

                            .primary {
                                a.create {
                                    background: @colorblack !important;
                                    color: @colorwhite !important;
                                    border: 1px solid @colorblack !important;
                                    border-radius: 10px;
                                    height: 48px;
                                    font-size: 16px;
                                    font-family: @AcuminProBold;
                                    line-height: 2;
                                }
                            }
                        }
                    }
                }
            }

            .mb-register-popup {
                .mb-ajaxsuite-popup-border.mb-ajaxlogin-popup.mb-ajaxlogin-register {
                    .block-title {
                        strong#block-customer-login-heading {
                            font-size: 20px;
                            font-family: @AcuminProBold;
                        }
                    }

                    form#ajax-register-form {
                        fieldset.fieldset.create.info {
                            .field.choice.newsletter {
                                position: relative;
                            }
                        }
                    }
                }
            }

            .mb-forgetpassword-popup {
                .mb-ajaxsuite-popup-border.mb-ajaxlogin-popup.mb-ajaxlogin-forgotpassword {
                    padding-top: 0;

                    form.form.ajax-forgetpassword-form {
                        fieldset.fieldset {
                            .field.note {
                                font-family: @AcuminProBook;
                                font-size: 16px;
                                @media (max-width: 576px) {
                                    font-size: 14px;
                                }
                                @media (max-width: 320px) {
                                    font-size: 13px;
                                }
                            }
                        }

                        .actions {
                            div {
                                button.action.submit.primary {
                                    background: @colorblack !important;
                                    color: @colorwhite !important;
                                    border: 1px solid @colorblack !important;
                                    height: 48px;
                                    font-family: @AcuminProBold;
                                    border-radius: 10px;
                                    font-size: 16px;
                                    width: 300px !important;
                                    margin-bottom: 30px !important;
                                }
                            }
                        }

                        .actions {
                            .secondary {
                                a {
                                    color: @colorcoral !important;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.mb-ajaxsuite-popup-wrapper .mb-ajaxlogin-message-success .mb-message-successs {
    color: @coloraceituna !important;
    font-size: 16px;
    font-family: @AcuminProBold;
}

.mb-successful-message {
    .mb-loading {
        .message {
            font-family: @AcuminProBook;
            font-size: 16px;
            @media (max-width: 576px) {
                font-size: 14px;
            }
            @media (max-width: 320px) {
                font-size: 13px;
            }
        }
    }
}

.mb-ajaxsuite-popup-wrapper {
    .mb-ajaxlogin-message-error {
        .mb-error-message {
            .mb-message-error {
                color: @colorladrillo !important;
                font-family: @AcuminProBold;
                font-size: 16px;
            }
        }

        .mb-actions-toolbar {
            button#ajaxlogin_btn_close_popup {
                border: 1px solid #000 !important;
                border-radius: 7px;
                font-family: @AcuminProBold;
                width: 125px;
                margin-right: 5px;
            }

            button#ajaxlogin_btn_to_login {
                border: 1px solid #000000 !important;
                border-radius: 7px;
                font-family: @AcuminProBold;
                width: 125px;
                margin-left: 5px;
                background: #000000 !important;
                color: #ffffff !important;
            }
        }
    }
}

.mb-ajaxsuite-popup-wrapper .mb-login-popup-title {
    display: none !important;

    strong {
        color: @colorwhite !important;
    }
}

#social-login {
    .social-login-btn {
        height: 48px;
        border-radius: 10px;
        font-size: 15px;
        font-family: @AcuminProBold;
    }
}

.troquer-header {
    display: none !important;
}

#mb-ajaxwishlist-wrapper .product-add-form .actions {
    border: none !important;
}

#mb-ajaxwishlist-wrapper .product-add-form .actions button.primary {
    border-color: @colorblack !important;
    border-radius: 7px;
    font-family: @AcuminProBold;
}

#mb-ajaxwishlist-wrapper {
    @media (max-width: 767px) {
        text-align: center;
    }

    .product-name {
        padding-top: 50px;
        @media (max-width: 1024px) {
            padding-top: 0;
        }

        .product-add-form {
            font-family: @AcuminProBold;
            font-size: 16px;
            color: @colorblack !important;
            @media (max-width: 767px) {
                text-align: left;
                padding: 0 20px;
            }
        }
    }

    .product-add-form {
        .price-box.price-final_price {
            @media (max-width: 767px) {
                padding-left: 10px;
                margin-left: -5px !important;
            }
        }
    }

    .product-add-form {
        form#product_addtocart_form {
            .box-tocart {
                .fieldset {
                    .actions {
                        @media (max-width: 1024px) and (min-width: 576px) {
                            text-align: left;
                        }

                        button#ajaxwishlist_btn_cancel {
                            border-radius: 7px;
                            font-family: @AcuminProBold;
                            width: 125px;
                            height: 44px;
                            font-size: 16px;
                            @media (max-width: 1024px) and (min-width: 576px) {
                                width: 77%;
                                margin-bottom: 10px !important;
                            }
                            @media (max-width: 544px) {
                                width: 85%;
                                margin-bottom: 10px !important;
                            }
                        }

                        button#product-addtogroup-button {
                            border-radius: 7px;
                            font-family: @AcuminProBold;
                            height: 44px;
                            font-size: 16px;
                            @media (max-width: 544px) {
                                width: 85%;
                            }
                        }
                    }
                }
            }
        }
    }
}

#mb-ajaxwishlist-wrapper .mb-ajaxsuite-popup-border {
    font-family: @AcuminProBook;
    font-size: 16px;
    @media (max-width: 576px) {
        font-size: 14px;
    }
    @media (max-width: 320px) {
        font-size: 13px;
    }
}

#mb-ajaxwishlist-wrapper .mb-ajaxsuite-popup-border .ajaxwishlist-buttons {
    .mb-ajaxsuite-close {
        border-color: @colorblack !important;
        border-radius: 7px;
        font-family: @AcuminProBold;
        width: 125px;
    }

    #ajaxwishlist_btn_to_login {
        background-color: @colorblack !important;
        border-color: @colorblack !important;
        color: @colorwhite !important;
        margin-left: 20px;
        border-radius: 7px;
        font-family: @AcuminProBold;
        width: 125px;
    }
}

form#ajax-login-form {
    fieldset.fieldset.login {
        .field.password.required {
            input#ajaxlogin-pass {
                border-bottom: 1px solid @colorarena !important;
                border-left: none;
                border-right: none;
                border-top: none;
                padding-left: 10px !important;
                font-size: 16px !important;
                font-family: @AcuminProBook;

                &::placeholder {
                    color: @colorrgbablack !important;
                }
            }
        }
    }

    .actions {
        .primary {
            button#login {
                background: @colorblack !important;
                color: @colorwhite !important;
                border: 1px solid @colorblack !important;
                height: 48px;
                font-family: @AcuminProBold;
                border-radius: 10px;
                font-size: 16px;
            }
        }

        .secondary {
            margin: 15px 0 0 0;

            a {
                color: @colorcoral !important;
                font-size: 16px;
            }
        }
    }
}

.block-title {
    strong {
        font-family: @AcuminProBold;
    }
}

fieldset.fieldset.create.info {
    legend.legend {
        color: @colorblack !important;
    }
}

.fieldset > .legend {
    color: @colorblack !important;
}

.block-minicart .block-content > .actions > .primary .action.primary {
    text-transform: none !important;
}

.block-minicart .block-content > .actions > .secondary {
    margin: 20px 0 15px;
}

.message-product-no-available {
    padding: 20px 0 !important;

    span {
        font-size: 16px;
        font-family: @AcuminProBold;
        color: @colorblack !important;
    }
}

#mb-ajaxcart-wrapper .ajaxcart-success-box .ajaxcart-buttons {
    button#ajaxcart_checkout {
        background: @colorblack !important;
        border: @colorblack !important;
        color: @colorwhite !important;
    }
}

.mb-ajaxsuite-popup-border .ajaxcart-message-cartinfo {
    font-family: @AcuminProBook;
}

#mb-ajaxcart-wrapper .ajaxcart-success-box .ajaxcart-buttons {
    background: @colorwhite !important;
    padding-bottom: 15px;
}

#mb-ajaxcart-wrapper img.image {
    @media (max-width: 767px) {
        width: 50%;
    }
}

#mb-ajaxwishlist-wrapper img.image {
    margin-left: 15px;
    @media (max-width: 767px) {
        width: 50%;
    }
}


button#ajaxwishlist {
    background: @colorblack !important;
    border: @colorblack !important;
    color: @colorwhite !important;
    border-radius: 7px;
}

.mb-login-form-register {
    .fieldset {
        .newsletter {
            label.label-bullet {
                padding-right: 10px !important;
                cursor: pointer;

                &:before {
                    content: " ";
                    display: inline-block;
                    position: relative;
                    top: 4px;
                    margin: 0 5px 0 0;
                    width: 18px;
                    height: 18px;
                    border-radius: 11px;
                    border: 1px solid @colorcoral;
                    background-color: transparent;
                }
            }
        }
    }
}

#is_subscribed {
    display: none !important;
}

#is_subscribed:checked + label {
    &:after {
        border-radius: 11px;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 7px;
        left: 3px;
        content: " ";
        display: block;
        background: @colorcoral;
    }
}

form#ajax-register-form {
    fieldset.fieldset.create {
        input {
            border: none;
            border-bottom: 1px solid @colorarena !important;
            padding-left: 0 !important;
            font-size: 16px !important;
            font-family: @AcuminProBook;

            &::placeholder {
                color: @colorrgbablack !important;
            }
        }
    }

    .mb-style-actions {
        padding-top: 20px;

        .primary {
            button {
                background: @colorblack !important;
                color: @colorwhite !important;
                border: 1px solid @colorblack !important;
                border-radius: 10px;
                height: 48px;
                font-size: 16px;
                font-family: @AcuminProBold;
                width: 300px;
            }
        }
    }

    .actions {
        .secondary {
            margin: 15px 0 0 0;

            a {
                color: @colorcoral !important;
                font-size: 16px;
            }
        }
    }
}

.ajax-forgetpassword-form {
    fieldset.fieldset {
        .email {
            input {
                max-width: 300px !important;
            }
        }
    }

    .actions {
        button {
            background: @colorblack !important;
            color: @colorwhite !important;
            border: 1px solid @colorblack !important;
        }

        a {
            color: @colorcoral !important;
        }
    }
}


/********************/
/** LOGIN POP UP   **/
/********************/
.form-login {
    fieldset.fieldset.login {
        .email {
            .control {
                input {
                    text-align: left !important;
                    font-family: @AcuminProBook;

                    &::placeholder {
                        color: @colorrgbablack !important;
                    }
                }
            }
        }
    }
}

aside.modal-popup.popup-authentication {
    .modal-inner-wrap {
        border-radius: 12px 12px 10px 10px;

        .modal-header {
            border-radius: 10px 10px 0 0;
        }

        .modal-content {
            @media (max-width: 544px) {
                width: 100% !important;
            }

            .block-authentication {
                .block.block-new-customer {
                    display: none !important;
                }

                .block.block-customer-login {
                    border: none !important;
                    padding: 20px !important;
                    text-align: center;
                    @media (max-width: 544px) {
                        padding: 0;
                    }

                    &:before {
                        display: none !important;
                    }

                    .block-content {
                        .form.form-login {
                            .fieldset.login {
                                .actions-toolbar {
                                    .secondary {
                                        margin-top: 30px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/************************/
/** END LOGIN POP UP   **/
/************************/



/*********************/
/**    LOGIN FORM   **/
/*********************/
form#login-form {
    .fieldset.login {
        text-align: center;
        margin-top: 20px;

        .email {
            .control {
                float: none !important;
                max-width: 60%;
                width: 100%;
                display: inline-block;
                @media (max-width: 1024px) and (min-width: 1024px) {
                    max-width: 70%;
                }
                @media (max-width: 768px) {
                    max-width: 95%;
                }
                @media (max-width: 576px) {
                    max-width: 85%;
                }

                input#email {
                    text-align: left !important;
                    padding-left: 10px !important;

                    &::placeholder {
                        color: @colorrgbablack !important;
                    }
                }
            }
        }

        .password {
            .control {
                float: none !important;
                max-width: 60%;
                width: 100%;
                display: inline-block;
                @media (max-width: 1024px) and (min-width: 1024px) {
                    max-width: 70%;
                }
                @media (max-width: 768px) {
                    max-width: 95%;
                }
                @media (max-width: 576px) {
                    max-width: 85%;
                }

                input#pass {
                    border: none !important;
                    border-bottom: 1px solid @colorarena !important;
                    text-align: left !important;
                    font-size: 16px;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                    @media (max-width: 320px) {
                        font-size: 13px;
                    }

                    &::placeholder {
                        color: @colorrgbablack !important;
                    }
                }
            }
        }

        .actions-toolbar {
            div.primary {
                display: block !important;
                float: none !important;
                text-align: center;
                margin: 0 auto;

                button {
                    display: block !important;
                    float: none !important;
                    text-align: center;
                    max-width: 300px;
                    width: 100%;
                    background: @colorblack !important;
                    color: @colorwhite !important;
                    border: none !important;
                    margin: 20px auto 0;
                    height: 48px;
                    font-size: 16px;
                    font-family: @AcuminProBold;
                }
            }

            div.secondary {
                display: block !important;
                float: none !important;
                margin-bottom: 50px !important;
                @media (max-width: 576px) {
                    margin-top: 50px;
                }

                button {
                    display: block !important;
                    float: none !important;
                    text-align: center;
                    margin: 0 auto;
                }

                a.action.remind {
                    color: @colorcoral;
                    font-size: 16px;
                    margin-top: 30px;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                    @media (max-width: 320px) {
                        font-size: 13px;
                    }

                    span {
                        text-decoration: underline;
                    }
                }
            }

            div.primary {
                button {
                    max-width: 300px !important;
                    border-radius: 10px !important;
                }
            }
        }
    }
}

.register-tr {
    text-align: center;

    p.register-parr {
        color: @colorblack;
        font-family: @AcuminProBook;
        font-size: 16px;
        margin-bottom: 30px;
        @media (max-width: 767px) {
            font-size: 14px;
        }
        @media (max-width: 320px) {
            font-size: 13px;
        }

        a {
            text-decoration: underline;
            color: @colorcoral;
        }
    }
}

.control.captcha {
    margin: 0 auto;

    input#captcha_user_login {
        max-width: 250px !important;
    }
}

form#login-form .fieldset.login .password .control input#pass {
    border: none !important;
    border-bottom: 1px solid @colorarena !important;
}

.spacing-tr {
    margin-top: 35px !important;
}

.register-tr input::placeholder {
    color: @colorrgbablack !important;
}

.ctrl-gender input::placeholder {
    color: @colorrgbablack !important;
}

.login-tr {
    .submenu-login {
        text-align: center;
        font-family: @AcuminProBook;
        max-width: 57%;
        width: 100%;
        margin: 0 auto;
        @media (max-width: 1024px) and (min-width: 1024px) {
            max-width: 65%;
        }
        @media (max-width: 768px) {
            max-width: 90%;
        }
        @media (max-width: 576px) {
            max-width: 80%;
        }

        .login-tr {
            max-width: 200px;
            color: @colorblack;
            display: inline-block;
            font-size: 22px;
            float: left;
            @media (max-width: 576px) {
                font-size: 20px !important;
            }
            @media (max-width: 320px) {
                font-size: 18px !important;
            }
        }

        .register-tr {
            max-width: 200px;
            color: @colorblack;
            display: inline-block;
            float: right;
            font-size: 22px;
            @media (max-width: 576px) {
                font-size: 20px !important;
            }
            @media (max-width: 320px) {
                font-size: 18px !important;
            }
            cursor: pointer;

            input {
                &::placeholder {
                    color: @colorrgbablack;
                }
            }
        }

        .__active {
            border-bottom: 2px solid @colorblack !important;
            font-weight: bold;
            border-bottom: 5px;
        }
    }
}

.login-container {
    max-width: 50%;
    margin: 0 auto;
    box-shadow: none !important;
    border: none !important;
    @media (max-width: 767px) {
        max-width: 80% !important;
    }
    @media (max-width: 576px) {
        max-width: 100% !important;
        padding: 35px 0 !important;
    }

    .viewactive {
        display: block;
    }

    .block-customer-login {
        float: none !important;
        display: block;
        width: 100% !important;
        margin: 20px auto;
        padding: 20px 0;
    }

    .block-new-customer {
        float: none;
        display: none;
    }
}

/*********************/
/**    LOGIN FORM   **/
/*********************/
