#mb-ajaxwishlist-wrapper .photo.image{
    margin: 10px;
}
#mb-ajaxwishlist-wrapper {
    width: 500px;
}

#mb-ajaxwishlist-wrapper .mb-ajaxsuite-popup-border {
    text-align: center;
}

#mb-ajaxwishlist-wrapper .product-name {
    font-weight: bold;
    margin-top: 10px;
}

#mb-ajaxwishlist-wrapper img.image {
    float: left;
    width: 30%;
    padding-left: 30px;
    padding-top: 5px;
}

#mb-ajaxwishlist-wrapper .product-add-form {
    float: right;
    width: 60%;
    margin-bottom: 10px;
}

#mb-ajaxwishlist-wrapper .price-box {
    margin: 7px 0;
}

#mb-ajaxwishlist-wrapper .price-box .price {
    color: #3399cc;
    font-size: 16px;
    font-weight: bold;
}

#mb-ajaxwishlist-wrapper .product-options-wrapper {

}

#mb-ajaxwishlist-wrapper .product-options-wrapper .fieldset .field {
    margin-bottom: 10px;
}


#mb-ajaxwishlist-wrapper .product-add-form .field.qty{
    margin-right: 20px;
}

#mb-ajaxwishlist-wrapper .product-add-form .actions {
    border-top: 1px solid #cccccc;
    padding-top: 10px;
}

#mb-ajaxwishlist-wrapper .product-add-form .actions button.primary {
    margin: 0 10px 0 0;
}

#mb-ajaxwishlist-wrapper .product-add-form .actions button.primary span {
    line-height: 25px;
}

#mb-ajaxwishlist-wrapper .ajaxwishlist-success-box {
    text-align: center;
    margin-bottom: 15px;
}

#mb-ajaxwishlist-wrapper .ajaxwishlist-success-box .ajaxwishlist-buttons {
    float: left;
    width: 100%;
    margin: 5px 0 0;
}

#mb-ajaxwishlist-wrapper .ajaxwishlist-success-box .ajaxwishlist-buttons button#ajaxwishlist_checkout {
    margin: 0;
}

#mb-ajaxwishlist-wrapper .ajaxwishlist-success-box img.image {
    float: none;
    margin-bottom: 10px;
}

#mb-ajaxwishlist-wrapper .ajaxwishlist-success-box .message-error{
    color: red;
    font-weight: bold;
}

#mb-ajaxwishlist-wrapper .ajaxwishlist-success-box .message-success{
    color: #1a29ff;
    font-weight: bold;
}
