<?php
if ($block->isCustomerLoggedIn()) {
    ?>
    <div id="mb-ajaxlogin-wrapper">
        <?php echo $block->getChildHtml('ajaxlogin.popup.message'); ?>
        <?php echo $block->getChildHtml('ajaxlogin.popup.forgot'); ?>
    </div>
    <?php
} else {
    ?>
    <div id="mb-ajaxlogin-wrapper">
        <?php echo $block->getChildHtml('ajaxlogin.popup.login'); ?>
        <?php echo $block->getChildHtml('ajaxlogin.popup.register'); ?>
        <?php echo $block->getChildHtml('ajaxlogin.popup.forgot'); ?>
        <?php echo $block->getChildHtml('ajaxlogin.popup.message'); ?>
    </div>
    <?php
}
