<script type="text/x-magento-init">
{
    "*": {
        "troquer/ajaxToCart" : <?php echo $block->getAjaxCartInitOptions(); ?>
    }
}
</script>
<script>
    window.ajaxCartLoaderOptions = <?php echo $block->getAjaxSidebarInitOptions(); ?>;
</script>
