<?php

use \Magento\Catalog\Pricing\Price\FinalPrice;
use \Magento\Framework\Pricing\Render;

?>
<?php $_product = $block->getProduct() ?>

<div class="product-add-form">
    <div class="price-box price-final_price">
        <?php echo $block->getProductPriceHtml(
            $_product,
            FinalPrice::PRICE_CODE,
            Render::ZONE_ITEM_VIEW,
            [
                'price_id_suffix' => '_clone'
            ]
        ) ?>

    </div>
</div>
