<?php
/**
 * @var $block Success
 */

use \Troquer\Ajaxlogin\Block\Messages\Forgot\Success;

?>
<div class="mb-login-popup-title center">
    <span class="mb-login-popup-title-logo"></span>
    <strong><?php echo __('Success'); ?></strong>
</div>
<div class="mb-ajaxsuite-popup-border mb-ajaxlogin-popup mb-ajaxlogin-message-success">
    <div class="mb-login-container-login">
        <div class="block-content" aria-labelledby="block-customer-login-heading">
            <div class="mb-successful-message">
                <div class="mb-loading">
                    <h4 class="mb-message-successs"><?php echo __('Sent Email Successfully!'); ?></h4>
                    <p class="message"></p>
                </div>
            </div>
        </div>
    </div>
</div>
